﻿@model ProjektZPP.Models.EfektKsztalcenia

@{
    ViewBag.Title = "View";
}

<h2>View</h2>


@using (Html.BeginForm("save", "EfektKsztalcenia", FormMethod.Post))
{
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
        <h4>EfektKsztalcenia</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nazwa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nazwa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nazwa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Opis, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Opis, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Opis, "", new { @class = "text-danger" })
            </div>
        </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.grupa, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                           @Html.EnumDropDownListFor( model => model.grupa, "Wybierz grupę", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.odniesienie, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.odniesienie, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.odniesienie, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    ViewBag.EfektyDlaPrzedmiotu
                    <div class="form-group">
                        @Html.LabelFor(model => model.EfektyKsztalceniaDlaPrzedmiotu, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("Id",new SelectList(ViewBag.EfektyDlaPrzedmiotu, "Id", "Nazwa" ))
                            @*@Html.EditorFor(model => model.odniesienie, new { htmlAttributes = new { @class = "form-control" } })*@
                           @* @Html.ValidationMessageFor(model => model.odniesienie, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
