﻿@{
    ViewBag.Title = "Home Page";
}

<title>A Simple Page with CKEditor</title>
@using (Html.BeginForm("ckeditor", "Home", FormMethod.Post, new { style = "margin-top:100px;" }))
{
    @Html.TextArea("editorplace", new { @id = "editor1" })
    <input type="submit" value="Submit" id="btnSubmit" />
    <script>
            CKEDITOR.replace('editor1');
    </script>
}